.footer {
  background-color: #333333;
  color: $bg-color;
  &__wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__nav {
    display: none;
  }
  &__logo {
    text-align: center;
    font-family: Righteous;
    font-size: 3.125rem;
    flex-grow: 1;
    & span {
      display: none;
    }
  }
  &__links {
    width: 5rem;
    justify-content: space-between;
    position: absolute;
    list-style: none;
    display: flex;
    right: 1rem;
    top: 50%;
    transform: translateY(-30%);
  }
  &__link {
    & svg {
      width: 30px;
      height: 30px;
    }
  }
}

@media (min-width: 1220px) {
  .footer {
    &__wrapper {
      width: 100%;
      max-width: 1440px;
      padding: 0 1.25rem;
    }
    &__nav {
      display: block;
      &-list {
        list-style: none;
        display: flex;
        align-items: center;
      }
      &-item {
        margin-right: 1rem;
        & a {
          color: $bg-color;
          text-decoration: none;
        }
      }
      &-item:first-of-type {
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: $primary-color;
      }
    }
    &__logo {
      position: relative;
      & span {
        display: flex;
        z-index: 5;
        position: absolute;
        top: -213px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
