.setup {
  background-color: #f5f5f5;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
  }
  &__list {
    margin: 3rem 0;
    list-style: none;
    // counter-reset: my-awesome-counter;
  }
  &__item {
    counter-increment: my-awesome-counter;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &::before {
      content: counter(my-awesome-counter);
      // position: relative;
      padding: 0.21rem 0.68rem;
      margin-right: 1rem;
      border-radius: 7px;
      color: $bg-color;
      font-size: 1.5rem;
      background-color: rgba($primary-color, 0.7);
      text-align: center;
      font-weight: normal;
      min-width: 36.28px;
    }
    &:last-of-type::before {
      content: counter(my-awesome-counter);
      background-color: $secondary-color;
      color: #333;
    }
    &-title {
      width: 80%;
      color: #333;
      font-weight: normal;
    }
    &-img {
      margin: 2rem auto;
      width: 100%;
      text-align: center;
    }
  }
  &__spec {
    color: rgba(147, 144, 144, 1);
    text-align: center;
  }
}

@media (min-width: 768px) {
  .setup {
    position: relative;
    z-index: 1;
    &__wrapper {
      width: 100%;
      padding: 3.75rem;
    }
    &__bg-puzzle {
      position: absolute;
      left: 0;
      z-index: -1;
      top: -14rem;
      background-image: url('../../assets/et_puzzle.png');
    }

    &__header {
      margin-bottom: 3.75rem;
      z-index: 3;
    }
    &__game {
      z-index: 10;
      width: 35.25rem;
      height: 28.68rem;
      background-color: rgba(255, 255, 255, 0.9);
      margin: 0 auto;
      border-radius: 0.5rem;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
      margin-bottom: 2rem;
    }
    &__list {
      width: 35.25rem;
      margin: 0 auto;
    }
    &__item {
      margin-bottom: 1rem;
    }
    &__item-img {
      display: none;
    }
  }
}
@media (min-width: 1220px) {
  .setup {
    &__wrapper {
      width: 80%;
      max-width: 1440px;
      padding: 5rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    &__header {
      width: 100%;
      & .title-element {
        display: none;
      }
    }
    &__spec {
      margin-left: 53%;
    }
  }
}
