.testimonials {
  background-color: #fff;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  &__header {
    margin-bottom: 5rem;
  }
  &__list {
    list-style: none;
  }
  &__item {
    position: relative;
    display: flex;
    padding: 5.75rem 1rem 1.25rem;
    min-height: 12.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('../../assets/clarity_block-quote-line1.png') 0 0,
      url('../../assets/clarity_block-quote-line.png') 100% 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    border-radius: 11px;
    margin-bottom: 5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  &__img {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);

    & img {
      border-radius: 50%;
    }
    & figcaption {
      color: rgba(51, 51, 51, 0.7);
      margin: 0.3rem 0;
    }
  }
  &__text {
    font-size: 1rem;
    text-align: center;
    color: #333;
  }
}

@media (min-width: 768px) {
  .testimonials {
    background-image: url('../../assets/icons\ treeFULL.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &__wrapper {
      width: 100%;
      padding: 3.75rem 3.75rem 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__header {
      width: 100%;
      margin-bottom: 3.75rem;
      & span {
        font-weight: 100;
        text-shadow: 0px 0px 0px #000;
      }
    }

    &__item {
      padding: 3.125rem 1.25rem;
      max-width: 56.25rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-size: 3.75rem 3.75rem;
      z-index: 2;
      opacity: 0.95;
    }
    &__img {
      min-width: 7.5rem;
      position: relative;
      top: 0;
      left: 0;
      transform: translateX(0);
    }
    &__text {
      text-align: left;
      margin-left: 1rem;
    }
  }
}
@media (min-width: 1220px) {
  .testimonials {
    &__wrapper {
      width: 80%;
      max-width: 1440px;
      padding: 5rem 1.25rem;
    }
    &__header {
      & .title-element {
        left: 30%;
      }
      margin-bottom: 10rem;
    }
    &__list {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    &__item {
      width: 25rem;
      display: flex;
      flex-wrap: wrap;
      padding: 5rem 0;
    }
    &__img {
      position: absolute;
      top: -15%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__text {
      width: 380px;
      text-align: center;
      margin-left: 0;
      padding: 1rem;
    }
  }
}
