.top {
  background-color: #fff;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
  }
  &__header {
    margin-bottom: 2rem;
  }
  &__img {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__description {
    padding: 1.5rem 0.68rem;
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    border-radius: 11px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  }
  &__text {
    background-color: rgba($secondary-color, 0.5);
    border-radius: 11px;
    text-align: center;
    padding: 0.8rem 0.6rem;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #333;
  }
  &__name {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  &__properties {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__height,
  &__price {
    display: flex;
    align-items: center;
    & p {
      color: #333;
      font-size: 1.1rem;
    }
    & b {
      padding: 0.2rem 0.6rem;
      font-size: 1.5rem;
      border-radius: 8px;
      background-color: $secondary-color;
    }
    & span {
      font-size: 0.85rem;
    }
  }
  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & a {
      color: $bg-color;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
